<header>
    <h1 class="text-center">
        Ads - Publish New Ad
        <span class="navbar-header navbar-right">
            {{user.username}}
            <a href="#" ng-click="logout(user)">Logout</a>
        </span>
    </h1>
</header>
<div>
    <div class="col-md-3">
        <logged-in-sidebar></logged-in-sidebar>
    </div>
    <div class="col-md-6">
        <form>
            <h4 class="center">Publish New Ad</h4>
            <hr/>
            <div>
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" ng-model="ad.title" required>
                </div>
                <div>
                    <label for="text">Text:</label>
                    <textarea id="text" class="padding05" ng-model="ad.text" required></textarea>
                </div>
            </div>
            <div>
                <label for="text">Image:</label>
                <input type="file" id="image"ng-model="ad.imageDataURL">
            </div>
            <div>
                <label>Category:</label>
                <select ng-model="ad.categoryId"
                        ng-options="category.id as category.name for category in categories">
                    <option value=""></option>
                </select>
            </div>
            <div>
                <label>Town:</label>
                <!--<select id="inputTown" ng-options="town.id as town.name for town in towns" ng-model="user.townId">-->
                <select ng-model="ad.townId"
                        ng-options="town.id as town.name for town in towns">
                    <option value=""></option>
                </select>
            </div>
            <div class="center">
                <button class="button" ng-click="publishAd(ad)">Publish</button>
                <button class="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>